# ts
babel.config.js
build.bash
src/

# Eslint
.eslintrc.json
.eslintignore

# NPM
package-lock.json

# git
.gitignore
.github

# Docs
docs/
scripts/
docs.yml

# Webpack
dist/hyttpo-webpack.js
dist/hyttpo-webpack.js.LICENSE.txt
dist/hyttpo-webpack.map